{% extends "layout_logged_in.html" %}

{% block content %}
{% for acc in accueillis %}
{{ acc.nom }} est accueilli par :
<div class='mt-4'>
    {% for accueillant in acc.accueillants %}
    <article class="media-custom content-section">
        <div class="media-body">
            <!-- En tête -->
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="article-title "> <span class="title-custom"> {{ accueillant.nom }} </span> </h3>
                </div>
                <div class="col-sm-2">
                    <a href="{{ url_for('accueillants.update_accueillant', acc_id=accueillant.id) }}"
                        class="btn btn-warning btn-sm m-1 py-0" role="button" style="font-size: 0.5em;"
                        aria-pressed="true">
                        Modifier
                    </a>
                    <button type="button" class="btn btn-primary btn-sm m-1 py-0" style="font-size: 0.5em;"
                        data-toggle="modal" data-target="#exampleModalLong">
                        Email
                    </button>
                </div>
            </div>

            <!-- Noms des accueillis -->
            <div class="row">
                {% for a in accueillant.accueillis %}
                <button type="button" class="btn btn-outline-info btn-xs m-1 py-0">{{ a.nom }}</button>
                {% endfor%}
            </div>

            <!-- Infos sur l'accueillant -->
            <button type="button" class="btn btn-info btn-block btn-collapse-custom" data-toggle="collapse"
                data-target="#info-{{accueillant.id}}">Informations</button>
            <div id="info-{{accueillant.id}}" class="collapse show">
                <div class="row">
                    <div class="col-md-6">
                        <p class="p-custom"><small> <b>Disponibilite :</b> {{ accueillant.disponibilite }}</small></p>
                        <p class="p-custom"><small> <b>Téléphone :</b> {{ accueillant.tel }}</small></p>
                    </div>
                    <div class="col-md-6">
                        <p class="p-custom"><small> <b>Adresse :</b> {{ accueillant.adresse }} </small></p>
                        <p class="p-custom"><small> <b>Email :</b> {{ accueillant.email }}</small></p>
                    </div>
                </div>
            </div>

            <!-- Prochaines actions à mener -->
            <button type="button" class="btn btn-info btn-block btn-collapse-custom" data-toggle="collapse"
                data-target="#action-{{accueillant.id}}">Prochaine action</button>
            <div id="action-{{accueillant.id}}" class="collapse show">
                <small>{{ accueillant.next_action }}</small>
            </div>

            <!-- Remarques -->
            <button type="button" class="btn btn-info btn-block btn-collapse-custom" data-toggle="collapse"
                data-target="#remarque-{{accueillant.id}}">Remarques</button>
            <div id="remarque-{{accueillant.id}}" class="collapse">
                <small>{{ accueillant.remarques }}</small>
            </div>

            <!-- Historique des échanges mails -->
            <button type="button" class="btn btn-info btn-block btn-collapse-custom" data-toggle="collapse"
                data-target="#emails-{{accueillant.id}}">Historique des mails</button>
            <div id="emails-{{accueillant.id}}" class="collapse">
                {% for email_acc in accueillant.email.split('; ') %}
                {% for m in emails[email_acc] %}
                {% if 'grenoble@louvreporte.org' in m.from_ %}
                <article class="content-section from-us">
                    <div class="email-content-left">
                        {% else %}
                        <article class="content-section from-them">
                            <div class="email-content-right">
                                {% endif%}
                                <p class='text-muted small mb-0'> From : {{ m.from_ }}</p>
                                <p class='text-muted small mb-0'> Date :
                                    {{ m.date_.strftime("Le %d %b %Y, à %H:%M:%S") }}
                                </p>
                                <p class='text-muted small mb-0'> Object : {{ m.subject_ }}</p>
                                <p class='small mt-1'> {{ m.body_ | safe}}</p>
                            </div>
                        </article>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- Send mail Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Envoyer un mail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="">
                                        {{ form.hidden_tag() }}
                                        <fieldset class=" form-group">
                                            <div class="form-group">
                                                {{ form.destinataire.label(class="form-control-label") }}

                                                {% if form.destinataire.errors %}
                                                {{ form.destinataire(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.destinataire.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor%}
                                                </div>
                                                {% else %}
                                                {{ form.destinataire(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.object_.label(class="form-control-label") }}

                                                {% if form.object_.errors %}
                                                {{ form.object_(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.object_.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor%}
                                                </div>
                                                {% else %}
                                                {{ form.object_(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.body.label(class="form-control-label") }}

                                                {% if form.body.errors %}
                                                {{ form.body(class="form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.body.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor%}
                                                </div>
                                                {% else %}
                                                {{ form.body(class="form-control form-control-lg") }}
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    {{ form.submit(class="btn btn-success")}}
                                    <button type="bulton" class="btn btn-primary">Sauvegarder</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </article>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}