body {
    background: #fafafa;
    color: #333333;
    font-family: Verdana, Geneva, sans-serif !important;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-section {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-section:hover {
    background: #F8F8F8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.article-title {
    color: #444444;
}

.article-content {
    white-space: pre-line;
}

.title-custom {
    background-image: linear-gradient(#fff 60%, #00fb4b81 55%);
}

.btn-collapse-custom {
    margin: 3px;
    padding: 0;
}

.p-custom {
    margin-bottom: 2px;
}

.email-content-left>* {
    text-align: left;
    font-size: x-small;
}

.email-content-right>* {
    text-align: right;
    font-size: x-small;
}

.from-us {
    background-color: rgba(255, 227, 133, 0.26);
}

.from-us:hover {
    background-color: rgba(255, 227, 133, 0.46);
}


.outils-coordo {
    position: fixed;
}

.email-content-right>*>* {
    text-align: right;
    font-size: x-small;
}

.email-content-left>*>* {
    text-align: right;
    font-size: x-small;
}

.email-content-right>*>*>* {
    text-align: right;
    font-size: x-small;
}

.email-content-left>*>*>* {
    text-align: right;
    font-size: x-small;
}

.mycheckbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mycheckbox>div {
    margin-right: 1rem;
}

.front-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.front-page>h1 {
    text-align: center;
}

.front-page>img {
    width: 35%;
    margin-top: 2rem;
}


.media-body {
    margin: 1px;
}

.wrapper {
    padding: 0.2rem;
}

.testjs {
    color: red;
}